/*primari B7C4CF*/
/*secundary EEE3CB*/
/*light D7C0AE*/
/*info 967E76*/
.text-light{
    color: #D7C0AE;
}
.bg-primary{
    background-color: #B7C4CF ;
}
.text-secundary{
    color: #EEE3CB;
}
.text-center{
    text-align: center;
 color: #EEE3CB;
}
.text-right{
    text-align: right; 
}